.navbar .navbar-brand {
    width: 15%;
    height: 15%;
    padding-right: 1%;
}

@media (max-width: 990px) {
    .navbar .navbar-brand {
        width: 25%;
        height: 25%;
        padding-right: 1%;
    }
}

.success-btn {
    border-radius: 10px;
    padding: 3%;
    border-color: #bdae26;
    background-color: transparent;
    color: #bdae26;
}

.success-btn:hover {
    border-radius: 10px;
    padding: 3%;
    border-color: transparent;
    background-color: #bdae26;
    color: white                                                                                                                                                                                                                                            ;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.carousel:hover .track {
  animation-play-state: paused;
}

.card {
  min-width: 600px;
  height: 200px;
  flex-shrink: 0;
  color: white;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card:nth-child(3n+1) { background: #7958ff; }
.card:nth-child(3n+2) { background: #5d34f2; }
.card:nth-child(3n+3) { background: #4300da; }

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-35%);
  }
}

.content-container {
    height: 40%;
    width: 70%;
}

.content-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}